<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>


        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hospital_db</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123</property>


        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>


        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>


        <property name="hibernate.hbm2ddl.auto">validate</property>


        <mapping class="com.example.Hospital_Management_System.entity.Doctors"/>
        <mapping class="com.example.Hospital_Management_System.entity.Patients"/>
        <mapping class="com.example.Hospital_Management_System.entity.Nurses"/>
        <mapping class="com.example.Hospital_Management_System.entity.Appointments"/>
        <mapping class="com.example.Hospital_Management_System.entity.User"/>
        <mapping class="com.example.Hospital_Management_System.entity.Department"/>
        <mapping class="com.example.Hospital_Management_System.entity.PatientRecord"/>
        <mapping class="com.example.Hospital_Management_System.entity.Prescription"/>
        <mapping class="com.example.Hospital_Management_System.entity.LabTest"/>
        <mapping class="com.example.Hospital_Management_System.entity.Invoice"/>
        <mapping class="com.example.Hospital_Management_System.entity.Insurance"/>
        <mapping class="com.example.Hospital_Management_System.entity.InventoryItem"/>
        <mapping class="com.example.Hospital_Management_System.entity.Ward" />
        <mapping class="com.example.Hospital_Management_System.entity.Bed" />
        <mapping class="com.example.Hospital_Management_System.entity.Admission" />
        <mapping class="com.example.Hospital_Management_System.entity.Surgery" />
        <mapping class="com.example.Hospital_Management_System.entity.Notification"/>
        <mapping class="com.example.Hospital_Management_System.entity.AuditLog"/>
    </session-factory>
</hibernate-configuration>
